.App {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.15);
    height: 50px;
}
.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgb(0, 0, 0, 0.15);
    height: 50px;
}
.sideMenuAndContent {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.05);
}
.sideMenu {
    height: 100%;
    .sideMenu-vertical {
        padding-top: 16px;
        height: 100%;
    }
}
.ant-space-item:has(.sideMenu) {
    align-self: center;
}
.content {
    padding-left: 12px;
}

.order-headline {
    margin-top: 16px;
}
.dashboard-card {
    position: relative;
    transition: 5s;
}
